
    body{
    background-color: black;
    }

 h1{
    color:blue ;
    font-family:arial ;
    background:white ;
 }

  
    p{
    color:red ;
    font-family:arial ;
    font-size: 30px;
    background:white ;
    }

